<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews
	</IfModule>

	RewriteEngine On

	# Redirect Trailing Slashes...
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	# Remove cachebuster hash from request URLs if present
	RewriteRule ^(.+)\.([a-zA-Z\d]+)\.(js|css)$ $1.$3 [L]

	# Resize on the fly
	RewriteCond %{QUERY_STRING}  ^(.+) [NC]
	RewriteRule ^(.+)\.(png|jpg|gif)$ /images?src=/$1.$2 [L,R,QSA]

	# Handle Front Controller...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>